.Contact {
    position: relative;
    text-align: center;
    padding: 50px 20px 50px;
    background-color: white;
}

.Contact * {
    position: relative;
}

.Contact h1, .Contact p {
    color: #444;
}

.Contact h1 {
    margin: 50px 0;
    font-size: 29px
}

.Contact h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    font-weight: lighter;
}

.Contact h4 a {
    color: #999;
}
.Contact h4 a:hover {
    color: #ab6704;
}

.Contact span img {
    width: 35px;
    height: 30px;
    margin: 0 10px
}

.Form {
    margin: 20px 0;
}

.Form input, .Form textarea {
    border: 1px solid goldenrod;
    font-size: 20px;
    padding: 5px 15px;
    background-color: rgb(255, 245, 238);
    border-radius: 10px;
    margin: 6px;
}

.Form .Submit {
    font-size: 20px;
    padding: 5px 15px;
    background-color: rgb(255, 245, 238);
    border-radius: 10px;
    border: 2px solid goldenrod;
    margin: 20px auto;
    display: table;
}
.Form .Submit:hover {
    background-color:goldenrod;
    color: rgb(43, 43, 38);
}
.Contact .BgImg {
    position: absolute;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0px
}
@media (max-width: 500px) {
    .Contact .BgImg {
        position: relative;
        height: 50%;
        opacity: 1;
    }
}
