header {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: rgba(34, 34, 30, 0.99);
    align-items: center;
    z-index: 500
}

a {
    text-decoration: none;
}

.Logo1 {
    display: none;
}

header .Logo1, header .Logo2 {
    height: 50px
}

.Container {
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 4px rgb(20 20 20);
}

.Menu {
    border: 2px solid rgb(199, 196, 199);
    border-radius: 5px;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 10px 20px 10px;
}

.Menu:hover {
    background-color: rgba(3, 3, 3, 0.822);
    cursor: pointer
}

.Menu div {
    width: 60%;
    border: 1px solid rgb(199, 196, 199);
    margin: 6px
}

.Close {
    color: rgb(199, 196, 199);
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
}

.Close:hover {
    padding: 2px;
    cursor: pointer;
}

.List {
    display: none;
}

.Dropdown {
    display: block;
    padding: 0 15px 15px;
    background-color: inherit;
}

.Dropdown ul {
    list-style: none;
    padding-inline: 30px 
}

.Dropdown ul li {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

ul li {
    font-size: 18px;
}

ul li a:hover {
    color:#fff
}

@media (min-width: 450px) {
    .List {
        align-items: center;
        display: flex;
        margin-right: 20px;
        justify-items: center;
    }
    .List li {
        display: inline-block;
        padding: 0 10px; 
    }
    .Dropdown {
        display: none;
    }
    .Menu {
        display: none;
    }
    .Logo1 {
        display: none;
    }
}

@media (min-width: 580px) {
    .Container {
        justify-content: space-between;
    }
    .Logo1 {
        display: inline-block;
    }
}

@media (min-width: 1300px) {
    header .Container {
        padding: 0 100px;
    }
}