.Footer {
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #181816;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer .Logo {
    width: auto;
    height: 50px
}

.Footer img {
    width: 20px;
    height: 20px
}

.Footer p {
    color: rgba(218, 165, 32, 0.7)
}