.Input {
    width: 60%;
    font-size: 18px;
    padding: 5px 15px;
    background-color: rgb(255, 245, 238);
    border-radius: 10px;
    margin: 6px;
    color: rgb(43, 43, 38);
    /* border: 1px solid  */
}

.Input:focus-visible {
    outline: none;
}

@media (max-width: 500px) {
    .Input {
        width: 80%
    }
}