li {
    list-style: none;
}

.Horizontal li {
    display: inline-block;
    padding: 10px
}

@media (max-width: 500px) {
    .Small li img {
        width: 25px;
        height: 25px;
    }
}

.Vertical li img {
    width: 25px;
}

.Vertical {
    position: relative;
}